:root {
}

.button {
    align-content: auto;
    align-self: center;
    align-items: auto;
    font-size: 0%;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/LiberationSans.ttf?fileID=12800000&guid=e3265ab4bf004d28a9537516768c1c75&type=3#LiberationSans");
    aspect-ratio: auto;
    background-color: rgba(255, 255, 255, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    -unity-background-scale-mode: scale-to-fit;
    min-width: 40%;
    max-width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    transition-duration: 0.4s;
    transition-property: scale;
    transition-timing-function: ease;
    -unity-slice-type: sliced;
    -unity-slice-scale: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    justify-content: center;
    flex-grow: 0;
    flex-basis: auto;
    position: relative;
    min-height: 50%;
    max-height: 100%;
    width: auto;
    right: auto;
    left: auto;
    top: auto;
}

.button:hover {
    scale: 1.2 1.2;
    transition-duration: 0.6s;
    transition-property: scale;
    transition-timing-function: ease-in-out-elastic;
}
